<h2>Edit Profile</h2>
<form class="pure-form pure-form-aligned" id="register" method="post" enctype="multipart/form-data" action="/users/<%= @user.id %>">
<fieldset>
  <input type="hidden" name="_method" value="put">
  <div class="pure-control-group">
    <label for="first_name">First name</label>
    <input name="user[first_name]" type="text" class="form-control" id="username" placeholder="First name" value="<%= @user.first_name %>">
  </div>
  <div class="pure-control-group">
    <label for="last_name">Last name</label>
    <input name="user[last_name]" type="text" class="form-control" id="username" placeholder="Last name" value="<%= @user.last_name %>">
  </div>
  <div class="pure-control-group">
    <label for="username">Username</label>
    <input name="user[username]" type="text" class="form-control" id="username" placeholder="Username" value="<%= @user.username %>">
  </div>
  <div class="pure-control-group">
    <label for="image">Image</label>
    <input name="user[image]" type="file" class="form-control" id="image" placeholder="Image" value="<%= @user.image %>">
  </div>
  <div class="pure-control-group">
    <label for="email">Email address</label>
    <input name="user[email]" type="email" class="form-control" id="email" placeholder="Email" value="<%= @user.email %>">
  </div>

  <div class="pure-controls">
    <button type="submit" class="pure-button pure-button-primary">Edit</button>
  </div>
  </fieldset>
</form>