<h2><%= @user.username %></h2>
<% if @user.image %>
  <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
<% end %>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>

<% @user.videos.each do |video| %>
  <% if video.url %>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allowfullscreen></iframe>
  <% end %>
<% end %>

<form action="/users/<%= @user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <div class="pure-controls">
    <button class="pure-button pure-button-primary">Delete My Account</button>
  </div>
</form>