<h2><%= @user.username %></h2>
<% if @user.image %>
  <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
<% end %>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>