<h2>All Videos Feed</h2>
<ul class="media-list">
  <% @videos.each do |video| %>
    <li class="media">
     <div class="media-left">
       <a href="/videos/<%= video.id %>">
        <% if video.url %>
          <video controls>
            <source src="<%= video.url.url %>" type="video/mp4">
          </video>
        <% end %>                     
        </a>
     </div>
     <div class="media-body">
       <a href="/videos/<%= video.id %>">
         <h4 class="media-heading"><%= video.video_name %></h4>
       </a>
     </div>
     <p class="commentBox"><%= video.comments %></p>
     <form class="pure-form pure-form-aligned" id="register" method="post" action="/postcomment/<%= video.id %>">
     <div class="pure-control-group">
       <textarea name="comments" placeholder="comment"></textarea>
     </div>
     <div class="pure-controls">
       <button type="submit" class="pure-button pure-button-primary">Add</button>
     </div>
     </form>
    </li>
  <% end %>
</ul>
<script>
$( document ).ready(function() {
    console.log( "ready!" );
    
   var splitComments = $(".commentBox").text()
   $(".commentBox").html(splitComments.split("|").join('<br>'));

});
</script>
