<!DOCTYPE html>
<html lang="en">
<head>
  <%= css :application %>
  <%= js :application %>
</head>
  <body>
    <header>

      <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Speak!</a></li>
              <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                  <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                  <ul class="pure-menu-children">
                      <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                      <% if is_logged_in? %>
                        <li class="pure-menu-item"><a class="pure-menu-link" href="/videos/new">Upload</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/videos">Feed</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/users/<%= current_user.id %>">Profile Page</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/users/<%= current_user.id %>">Profile</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/logout">Logout</a></li>
                      <% else %>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/register">Register</a></li>
                        <li class="pure-menu-item"><a class="pure-menu-link"  href="/login">Login</a></li>
                      <% end %> 
                  </ul>
              </li>
          </ul>
      </div>

      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Speak!</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <% if is_logged_in? %>
            <li><a href="/videos/new">Upload</a></li>
            <li><a href="/videos">Feed</a></li>
              <li><a href="/users/<%= current_user.id %>">Profile Page</a></li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/users/<%= current_user.id %>">Profile</a></li>
                  <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
              <% else %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
              <% end %> 
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <main class="container">
      <%= styled_flash %>
      <%= yield %>
    <main>
  </body>
</html